@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* iOS Cordova Tweak */
.device-cordova.device-ios {
  height: 100vh;
}

/* Your app custom styles here */
/*Link: https://framework7.io/docs/css-variables */
:root {
    --f7-font-family: 'Ubuntu', sans-serif;
    --f7-font-family-ubuntu: 'Ubuntu', sans-serif;
    --f7-font-family-kanit: 'Kanit', sans-serif;
    --f7-theme-color: #E68D61;
    --f7-theme-color-rgb: 230, 141, 97;
    --f7-theme-color-shade: #ce7e58;
    --f7-theme-color-tint: #f9986b;
    --f7-color-primary: #E68D61;
    --f7-color-primary-rgb: 230, 141, 97;
    --f7-color-primary-shade: #ce7e58;
    --f7-color-primary-tint: #f9986b;
    --f7-color-secondary: #61BAE6;
    --f7-color-secondary-rgb: 97, 186, 230;
    --f7-color-secondary-shade: #58a9ce;
    --f7-color-secondary-tint: #6bccf9;
}
.text-color-primary {
  --f7-theme-color-text-color: var(--f7-theme-color);
}
.bg-color-primary {
  --f7-theme-color-bg-color: var(--f7-theme-color);
}
.border-color-primary {
  --f7-theme-color-border-color: var(--f7-theme-color);
}
.ripple-color-primary,
.ripple-primary {
  --f7-theme-color-ripple-color: rgba(var(--f7-theme-color-rgb), 0.3);
}
.color-theme-primary,
.color-primary {
  --f7-theme-color: #E68D61;
  --f7-theme-color-rgb: 230, 141, 97;
  --f7-theme-color-shade: #ce7e58;
  --f7-theme-color-tint: #f9986b;
}
.text-color-secondary {
  --f7-theme-color-text-color: var(--f7-color-secondary);
}
.bg-color-secondary {
  --f7-theme-color-bg-color: var(--f7-color-secondary);
}
.border-color-secondary {
  --f7-theme-color-border-color: var(--f7-color-secondary);
}
.ripple-color-secondary {
  --f7-theme-color-ripple-color: rgba(var(--f7-color-secondary-rgb), 0.3);
}
.color-theme-secondary,
.color-secondary {
  --f7-theme-color: #61BAE6;
  --f7-theme-color-rgb: 97, 186, 230;
  --f7-theme-color-shade: #58a9ce;
  --f7-theme-color-tint: #6bccf9;
}
