@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* iOS Cordova Tweak */
.device-cordova.device-ios {
  height: 100vh;
}
/* Your app custom styles here */
/*Link: https://framework7.io/docs/css-variables */
:root {
    --f7-font-family: 'Ubuntu', sans-serif;
    --f7-font-family-ubuntu: 'Ubuntu', sans-serif;
    --f7-font-family-kanit: 'Kanit', sans-serif;
    --f7-theme-color: #E68D61;
    --f7-theme-color-rgb: 230, 141, 97;
    --f7-theme-color-shade: #ce7e58;
    --f7-theme-color-tint: #f9986b;
    --f7-theme-color-filter: invert(55%) sepia(99%) saturate(262%) hue-rotate(335deg) brightness(94%) contrast(91%);
    --f7-color-primary: #E68D61;
    --f7-color-primary-rgb: 230, 141, 97;
    --f7-color-primary-shade: #ce7e58;
    --f7-color-primary-tint: #f9986b;
    --f7-color-primary-filter: invert(55%) sepia(99%) saturate(262%) hue-rotate(335deg) brightness(94%) contrast(91%);
    --f7-color-secondary: #61BAE6;
    --f7-color-secondary-rgb: 97, 186, 230;
    --f7-color-secondary-shade: #58a9ce;
    --f7-color-secondary-tint: #6bccf9;
    --f7-color-secondary-filter: invert(86%) sepia(31%) saturate(5373%) hue-rotate(170deg) brightness(98%) contrast(84%);
}
.text-color-primary {
  --f7-theme-color-text-color: var(--f7-theme-color);
}
.bg-color-primary {
  --f7-theme-color-bg-color: var(--f7-theme-color);
}
.border-color-primary {
  --f7-theme-color-border-color: var(--f7-theme-color);
}
.ripple-color-primary,
.ripple-primary {
  --f7-theme-color-ripple-color: rgba(var(--f7-theme-color-rgb), 0.3);
}
.color-theme-primary,
.color-primary {
  --f7-theme-color: #E68D61;
  --f7-theme-color-rgb: 230, 141, 97;
  --f7-theme-color-shade: #ce7e58;
  --f7-theme-color-tint: #f9986b;
}
.text-color-secondary {
  --f7-theme-color-text-color: var(--f7-color-secondary);
}
.bg-color-secondary {
  --f7-theme-color-bg-color: var(--f7-color-secondary);
}
.border-color-secondary {
  --f7-theme-color-border-color: var(--f7-color-secondary);
}
.ripple-color-secondary {
  --f7-theme-color-ripple-color: rgba(var(--f7-color-secondary-rgb), 0.3);
}
.color-theme-secondary,
.color-secondary {
  --f7-theme-color: #61BAE6;
  --f7-theme-color-rgb: 97, 186, 230;
  --f7-theme-color-shade: #58a9ce;
  --f7-theme-color-tint: #6bccf9;
}

/* custom */
.icon-main {
  overflow: visible !important;
  filter: var(--f7-theme-color-filter) !important;
  background-image: url(../assets/icon-alt.svg) !important;
  margin-right: 0.5rem !important;
  height: auto !important;
}
.image-fluid {
  max-width: 100% !important;
  height: auto !important;
}

.navbar .center {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;    
  position: relative;
  z-index: 10;
}

.justify-content-around {
  justify-content: space-around !important;
}

.ic-size-1 {
  font-size: 0.5rem !important;
}
.ic-size-2 {
  font-size: 1rem !important;
}
.ic-size-3 {
  font-size: 1.5rem !important;
}
.ic-size-4 {
  font-size: 2rem !important;
}
.ic-size-5 {
  font-size: 2.5rem !important;
}
.ic-size-6 {
  font-size: 3rem !important;
}

$paddings: (
  "": 0rem, 
  "-0": 0rem, 
  "-1": 0.25rem, 
  "-2": 0.5rem, 
  "-3": 1rem, 
  "-4": 1.5rem, 
  "-5": 1.75rem, 
  "-6": 2rem, 
  "-7": 2.5rem, 
  "-8": 3rem, 
  "-9": 4.5rem, 
  "-10": 5rem, 
);

@each $key, $padding in $paddings {
  .pad#{$key} {
    padding: $padding !important;
  }
  .pad-x#{$key} {
    padding-left: $padding !important;
    padding-right: $padding !important;
  }
  .pad-y#{$key} {
    padding-top: $padding !important;
    padding-bottom: $padding !important;
  }
  .pad-t#{$key} {
    padding-top: $padding !important;
  }
  .pad-b#{$key} {
    padding-bottom: $padding !important;
  }
  .pad-s#{$key} {
    padding-left: $padding !important;
  }
  .pad-e#{$key} {
    padding-right: $padding !important;
  }
}