@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* iOS Cordova Tweak */
.device-cordova.device-ios {
  height: 100vh;
}
/* Your app custom styles here */
/*Link: https://framework7.io/docs/css-variables */
:root {
    --f7-font-family: 'Ubuntu', sans-serif;
    --f7-font-family-ubuntu: 'Ubuntu', sans-serif;
    --f7-font-family-kanit: 'Kanit', sans-serif;
    --f7-theme-color: #E68D61;
    --f7-theme-color-rgb: 230, 141, 97;
    --f7-theme-color-shade: #ce7e58;
    --f7-theme-color-tint: #f9986b;
    --f7-theme-color-filter: invert(55%) sepia(99%) saturate(262%) hue-rotate(335deg) brightness(94%) contrast(91%);
    --f7-color-primary: #E68D61;
    --f7-color-primary-rgb: 230, 141, 97;
    --f7-color-primary-shade: #ce7e58;
    --f7-color-primary-tint: #f9986b;
    --f7-color-primary-filter: invert(55%) sepia(99%) saturate(262%) hue-rotate(335deg) brightness(94%) contrast(91%);
    --f7-color-secondary: #61BAE6;
    --f7-color-secondary-rgb: 97, 186, 230;
    --f7-color-secondary-shade: #58a9ce;
    --f7-color-secondary-tint: #6bccf9;
    --f7-color-secondary-filter: invert(86%) sepia(31%) saturate(5373%) hue-rotate(170deg) brightness(98%) contrast(84%);
}
.text-color-primary {
  --f7-theme-color-text-color: var(--f7-theme-color);
}
.bg-color-primary {
  --f7-theme-color-bg-color: var(--f7-theme-color);
}
.border-color-primary {
  --f7-theme-color-border-color: var(--f7-theme-color);
}
.ripple-color-primary,
.ripple-primary {
  --f7-theme-color-ripple-color: rgba(var(--f7-theme-color-rgb), 0.3);
}
.color-theme-primary,
.color-primary {
  --f7-theme-color: #E68D61;
  --f7-theme-color-rgb: 230, 141, 97;
  --f7-theme-color-shade: #ce7e58;
  --f7-theme-color-tint: #f9986b;
}
.text-color-secondary {
  --f7-theme-color-text-color: var(--f7-color-secondary);
}
.bg-color-secondary {
  --f7-theme-color-bg-color: var(--f7-color-secondary);
}
.border-color-secondary {
  --f7-theme-color-border-color: var(--f7-color-secondary);
}
.ripple-color-secondary {
  --f7-theme-color-ripple-color: rgba(var(--f7-color-secondary-rgb), 0.3);
}
.color-theme-secondary,
.color-secondary {
  --f7-theme-color: #61BAE6;
  --f7-theme-color-rgb: 97, 186, 230;
  --f7-theme-color-shade: #58a9ce;
  --f7-theme-color-tint: #6bccf9;
}

/* custom */
.icon-main {
  overflow: visible !important;
  filter: var(--f7-theme-color-filter) !important;
  background-image: url(../assets/icon-alt.svg) !important;
  margin-right: 0.5rem !important;
  height: auto !important;
}
.image-fluid {
  max-width: 100% !important;
  height: auto !important;
}

.navbar .center {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;    
  position: relative;
  z-index: 10;
}

.justify-content-around {
  justify-content: space-around !important;
}

.ic-size-1 {
  font-size: 0.5rem !important;
}
.ic-size-2 {
  font-size: 1rem !important;
}
.ic-size-3 {
  font-size: 1.5rem !important;
}
.ic-size-4 {
  font-size: 2rem !important;
}
.ic-size-5 {
  font-size: 2.5rem !important;
}
.ic-size-6 {
  font-size: 3rem !important;
}

$spaces: (
  "": 0rem, 
  "-0": 0rem, 
  "-1": 0.25rem, 
  "-2": 0.5rem, 
  "-3": 1rem, 
  "-4": 1.5rem, 
  "-5": 1.75rem, 
  "-6": 2rem, 
  "-7": 2.5rem, 
  "-8": 3rem, 
  "-9": 4.5rem, 
  "-10": 5rem,
  "-auto": auto,
);

@each $key, $space in $spaces {
  .pad#{$key} {
    padding: $space !important;
  }
  .pad-x#{$key} {
    padding-left: $space !important;
    padding-right: $space !important;
  }
  .pad-y#{$key} {
    padding-top: $space !important;
    padding-bottom: $space !important;
  }
  .pad-t#{$key} {
    padding-top: $space !important;
  }
  .pad-b#{$key} {
    padding-bottom: $space !important;
  }
  .pad-s#{$key} {
    padding-left: $space !important;
  }
  .pad-e#{$key} {
    padding-right: $space !important;
  }
  .mag#{$key} {
    margin: $space !important;
  }
  .mag-x#{$key} {
    margin-left: $space !important;
    margin-right: $space !important;
  }
  .mag-y#{$key} {
    margin-top: $space !important;
    margin-bottom: $space !important;
  }
  .mag-t#{$key} {
    margin-top: $space !important;
  }
  .mag-b#{$key} {
    margin-bottom: $space !important;
  }
  .mag-s#{$key} {
    margin-left: $space !important;
  }
  .mag-e#{$key} {
    margin-right: $space !important;
  }
}

.vstack {
  display: flex !important;
  flex-direction: column !important;
  flex: 1 1 auto !important;
}
.hstack {
  display: flex !important;
  flex-direction: row !important;
  flex: 1 1 auto !important;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

$a-items: (
  "baseline": baseline,
  "center": center,
  "end": flex-end,
  "start": flex-start,
  "normal": normal,
  "stretch": stretch,
);

@each $key, $a-item in $a-items {
  .align-items-#{$key} {
    align-items: $a-item !important;
  }
}


$a-self: (
  "baseline": baseline,
  "center": center,
  "end": flex-end,
  "start": flex-start,
  "auto": auto,
  "stretch": stretch,
);

@each $key, $self in $a-self {
  .align-items-#{$key} {
    align-self: $self !important;
  }
}

$justify-contents: (
  "evenly": space-evenly,
  "center": center,
  "end": flex-end,
  "start": flex-start,
  "between": space-between,
  "around": space-around,
  "stretch": stretch,
);
@each $key, $justify-content in $justify-contents {
  .justify-content-#{$key} {
    justify-content: $justify-content !important;
  }
}


$sizes: (
  "1": 0.25rem,
  "2": 0.5rem,
  "3": 1rem,
  "4": 1.5rem,
  "5": 1.75rem,
  "6": 2rem,
  "7": 2.5rem,
  "8": 3rem,
  "9": 4.5rem,
  "10": 5rem,
);

@each $key, $size in $sizes {
  .gap-#{$key} {
    gap: $size !important;
  }
}
$font-sizes: (
  "1": 0.125rem,
  "2": 0.25rem,
  "3": 0.5rem,
  "4": 0.75rem,
  "5": 1rem,
  "6": 1.125rem,
  "7": 1.25rem,
  "8": 1.5rem,
  "9": 1.75rem,
  "10": 2rem,
  "11": 2.5rem,
  "12": 3rem,
  "13": 4.5rem,
  "14": 5rem,
);
@each $key, $font-size in $font-sizes {
  .fs-#{$key} {
    font-size: $font-size !important;
  }
}

$font-weights: (
  "thin": 100,
  "xlight": 200,
  "light": 300,
  "regular": 400,
  "medium": 500,
  "semibold": 600,
  "bold": 700,
  "xbold": 800,
  "black": 900,
);
@each $key, $font-weight in $font-weights {
  .fw-#{$key} {
    font-weight: $font-weight !important;
  }
}

.circle {
  border-radius: 50% !important;
}

@for $i from 0 through 100 {
  .width-#{i} {
    width: $i + 0% !important;
  }
  .height-#{i}{
    height: $i + 0% !important;
  }
  .max-width-#{i} {
    max-width: $i + 0% !important;
  }
  .max-height-#{i}{
    max-height: $i + 0% !important;
  }
  .min-width-#{i} {
    min-width: $i + 0% !important;
  }
  .min-height-#{i}{
    min-height: $i + 0% !important;
  }
}

.lh-normal {
  line-height: normal !important;
}