@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --ff-ubuntu: 'Ubuntu', sans-serif;
    --ff-kanit: 'Kanit', sans-serif;
    --primary: #E68D61;
    --secondary: #61BAE6;
    --black: black;
    --dark-charcoal: #333333; /* https://www.schemecolor.com/grayscale.php */
    --granite-gray: #666666; /* https://www.schemecolor.com/grayscale.php */
    --spanish-gray: #999999; /* https://www.schemecolor.com/grayscale.php */
    --chinese-silver: #CCCCCC; /* https://www.schemecolor.com/grayscale.php */
    --light-gray: #EEEEEE; /* https://www.schemecolor.com/grayscale.php */
    --white: white;
}




* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}




.ff-ubuntu {
    font-family: var(--ff-ubuntu) !important;
}

.ff-kanit {
    font-family: var(--ff-kanit) !important;
}


body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family: var(--ff-ubuntu) !important;
    font-size: 1rem !important;
}

/* Portrait layout (default) */
#app {
    
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    #app {
        
    }
}

